.content {
  margin: 0 auto;
  width: calc(100% - 240px);
  position: relative;
  z-index: 1;
}

.skills {
  width: 100%;
  margin-top: 100px;
}

.skills__title {
  font-family: "Archivo Black", "Arial Black", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
}

.skills__items {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.skills__item {
  width: 50px;
}

.projects__title {
  font-family: "Archivo Black", "Arial Black", sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
}

.projects__cards {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  align-items: stretch;
}

.card {
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
}

.card__image-container {
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

.card__image-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,

    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
}

.card__image-icons {
  position: absolute;
  left: 12px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.card__image-icon {
  width: 40px;
  height: 40px;
}

.card__content {
  background-color: rgb(28, 28, 28);
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.card__description {
  margin: 0;
}

.card__links {
  list-style: none;
  margin-top: auto;
  padding-top: 30px;
  display: flex;
  gap: 20px;
}

.card__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.card__link:hover {
  opacity: 0.5;
}

.card__link-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card__link-demo {
  color: rgba(109, 109, 255, 1);
}

.card__link-github {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .content {
    width: calc(100% - 80px);
    height: 100%;
  }

  .projects__cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: calc(100% - 40px);
  }

  .skills__title {
    font-size: 28px;
  }
  .skills__items {
    grid-template-columns: repeat(4, 30px);
    row-gap: 30px;
  }

  .skills__item {
    width: 30px;
  }

  .projects__title {
    font-size: 28px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__description {
    font-size: 16px;
  }

  .card__links {
    padding-top: 20px;
  }

  .card__link {
    font-size: 16px;
  }
}
