.footer {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(109, 109, 255, 1);
  filter: blur(400px);
}

.footer__title {
  margin-top: 100px;
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
}

.footer__email {
  color: rgb(109, 109, 255);
  margin: 30px 0 20px;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 100px;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__title,
.footer__email,
.footer__icons {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 28px;
  }

  .footer__icons {
    gap: 40px;
  }
}
