.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 83.33%;
  padding-top: 40px;
}

.presentation {
  padding-right: 20px;
  width: calc(100% - 387px);
}

.presentation__name {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 78px;
  margin: 49px 0 15px;
}

.presentation__role {
  color: rgba(255, 255, 255, 0.5);
}

.presentation__description {
  margin: 30px 0;
}

.presentation__links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.presentation__link {
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
}

.presentation__link:hover {
  opacity: 0.5;
}

.presentation__link::after {
  content: "";
  height: 5px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
}

.presentation__photo {
  width: 387px;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-top: 40px;
    width: 89.6%;
  }

  .presentation {
    width: calc(100% - 216px);
  }

  .presentation__name {
    font-size: 58px;
    margin: 0;
  }

  .presentation__role-span {
    display: none;
  }

  .presentation__photo {
    width: 216px;
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }

  .presentation {
    width: auto;
    padding: 0;
  }

  .presentation__name {
    font-size: 36px;
  }

  .presentation__description {
    font-size: 16px;
  }

  .presentation__links {
    flex-direction: column;
  }

  .presentation__photo {
    width: 100%;
    height: 280px;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 0 auto;
    order: -1;
  }
}
